<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
        <add key="WaterInAquifer" value="0" />
        <add key="WaterInAquiferMax" value="10" />
        <add key="Beta" value="1" />
        <add key="NumOfSeasons" value="1" />
        <add key="LeakAquiferFrac" value="0" />
        <add key="PercFromFieldFrac" value="1" />
        <add key="WaterStorCap" value="1" />
        <add key="filepath" value="OutputFiles" />
        <add key="inputfilepath" value="InputFiles" />
      </appSettings>
</configuration>